.cloud-music-player-volume-container {
    position: absolute;
    right: 12px;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 92px;
    height: 32px;
}

.cloud-music-player-volume {
    width: 60px;
}

.cloud-music-player-volume-icon {
    cursor: pointer;
}