.cloud-music-player-volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.cloud-music-player-volume {
    width: 60px;
}

.cloud-music-player-volume-icon {
    color: $grey-8;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        color: $grey-10;
        transition: all 0.3s;
    }
}