.cloud-music-live-card {
  height: 136px;
  width: 136px;
  cursor: pointer;
}
.cloud-music-live-card-from {
  color: $grey-5;
  font-size: 12px;
  margin-left: 4px;
}

.cloud-music-live-card-desc {
  margin-top: 8px;
  font-size: 13px;
}