$primary-color: #EC4141 !default;//产品主色,网易红

//灰度色板
$grey-1: #ffffff !default;
$grey-2: #fafafa !default;
$grey-3: #f5f5f5 !default;
$grey-4: #f0f0f0 !default;
$grey-5: #d9d9d9 !default;
$grey-6: #bfbfbf !default;
$grey-7: #8c8c8c !default;
$grey-8: #595959 !default;
$grey-9: #434343 !default;
$grey-10: #262626 !default;
$grey-11: #1f1f1f !default;
$grey-12: #141414 !default;
$grey-13: #000000 !default;


$box-shadow: 1px 1px 5px black !default;
$border-color: $grey-5;


@mixin omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cloud-music {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud-music-app {
  position: relative;
  width: 1021px;
  height: 669px;
  box-shadow: $box-shadow;
}

//滚动条样式
div::-webkit-scrollbar {
  width: 6px;
}
div::-webkit-scrollbar-thumb {
  background: $grey-5;
  border-radius: 2px;
}

* {
  scrollbar-color: #e5e5e5 #f7f7f9; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}

//基础组件
@import '../components/layout/style';//页面布局
@import '../components/carousel/style';//走马灯-整体样式
@import '../components/card/style';//通用卡片样式
@import '../components/button/style';//播放按钮
@import '../components/menu/_style';//菜单组件
@import '../components/header/style';//header组件
@import '../components/drawer/style';//抽屉
@import '../components/icons/style'; //图标
@import '../components/statistic/style';//数量统计
@import '../components/avatar/style';//头像
@import '../components/player/style';//音乐播放
@import '../components/darggableBar/style';//可拖拽的滑动条
@import '../components/switchBotton/style';//switcher
@import '../components/divider/style';//分割线
@import '../components/list/style';//列表组件

//页面组件
@import '../pages/discovery/style';//发现页面