.cloud-music-asider{
  width: 200px;
  height: 538px;
  position: absolute;
  top: 60px;
  left: 0px;
  padding: 12px;
  border-right: 1px solid $border-color;
  overflow-y: auto;
}

.cloud-music-asider-icon {
  margin-right: 12px;
}
.cloud-music-asider-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}