.cloud-music-card {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
}

.cloud-music-card-zoom {
  transform: scale(1,1);
  transition: all 0.5s;
  &:hover{
    transform: scale(1.1,1.1);
    transition: all 0.5s;
  }
}