.cloud-music-divider {
  width: 1px;
  height: 30px;
  background: $grey-5;
  user-select: none;
  display: inline-block;
}

.cloud-music-divider-horizontal {
  background: $grey-5;
  user-select: none;
}