$carousel-container-width: 760px !default; 
$carousel-card-width: 542px !default;
$carousel-offset: -48px !default;
@import './button/style';
@import './card/style';
@import './dots/style';
.carousel-container{
  width: $carousel-container-width;
  height: 250px;
  position: relative;
}

.carousel-card-size {
  width: $carousel-card-width;
  height: 196px;
}

.carousel-card-middle {
  z-index: 999;
  position: absolute;
  left: ($carousel-container-width - $carousel-card-width)/2;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 0.5s;
}

.carousel-card-left {
  position: absolute;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: $carousel-offset;
  margin-top: auto;
  margin-bottom: auto;
  transform: scale(0.82,0.82);
  transition: all 0.5s;
}

.carousel-card-right {
  position: absolute;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: ($carousel-container-width - $carousel-card-width - $carousel-offset);
  margin-top: auto;
  margin-bottom: auto;
  transform: scale(0.82,0.82);
  transition: all 0.5s;
}

.carousel-card-dock {
  position: absolute;
  left: ($carousel-container-width - $carousel-card-width)/2;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 0.5s;
  transform: scale(0.82,0.82);
}

.carousel-button-left {
  position: absolute;
  left: $carousel-card-width * 0.09+$carousel-offset+10px;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
}

.carousel-button-right {
  position: absolute;
  right: $carousel-card-width * 0.09+10px+$carousel-offset;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1000;
}
.carousel-bottom-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
}