.cloud-music-input-area {
  outline: none;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: $border;
  resize: none;
  padding: 4px 8px;
  font-size: 13px;
  color: $grey-10;
}