@import './bar/style';
@import './mode/style';
.cloud-music-player-hidden-audio {
  position: fixed;
  visibility: hidden;
}
.cloud-music-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cloud-music-player-btn-group {
  display: flex;
  flex-direction: row;
  width: 224px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.cloud-music-player-main-btn {
  background: $grey-5;
  transition: all 0.3s;
  &:hover {
    background: $grey-6;
    transition: all 0.3s
  }
}