.cloud-muisc-look-card {
  height: 177px;
  width: 177px;
  cursor: pointer;
}

.cloud-muisc-look-from {
  display: flex;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.cloud-muisc-look-name{
  margin-left: 8px;
  line-height: 24px;
  color: #fff;
}